@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  transition: .4s;
}

html {
  height: 100%;
  width: 100%;
  letter-spacing: 0.01rem;
  body {
    height: 100%;
;
    p {
      line-height: 1.5rem;
      margin: 0
    }
  }
}