<template>
  <b-container
    fluid
    class="d-flex h-100 w-100 px-0 j-c-center"
  />
</template>

<script>

export default {
  components: {
  },
  data() {
    return {
    }
  },
}
</script>

<style scoped>
  body{
    overflow: hidden;
  }
</style>
