<template>
  <div
    id="app"
    class="h-100 w-100"
  >
    <header />
    <router-view
      :key="$route.fullPath"
    />
    <footer>
      footer
    </footer>
  </div>
</template>

<script>

export default {
  components: {
  },
}

</script>
